%nav.links
  %a{:href => "https://github.com/tomcartwrightuk", :target => "blank"} Github
  = mail_to "tecartwright@gmail.com", "Email"
  %a{:href => "/about"} About
%a{:href => "/", :target => "blank"}
  #mugshot_wrapper
    %img{:src => "/images/mugshot_ver3.jpg", :class => "mugshot"}
#tag_line
  %a{:href => "/", :target => "blank"}
    %h1.tag-name
      Tom Cartwright
  %p London-based software engineer specialising in full-stack web application development, data processing and API building. Available for hire.
