%header
  %h2 Projects and experience
#projects
  .project-pod
    %a{:href => "http://tribesports.com", :target => "blank"}
      %h3 Tribesports
      %img{:src => "/images/tribesports.jpg"}
    %ul
      %li Ruby on Rails, SASS and JS development
      %li Integrated apps with Facebook and Twitter APIs
      %li Created mobile app using JS and Titanium Appcelerator platform
      %li Built permissions system within Tribesports social app
      
  .project-pod
    %a{:href => "http://giveaiddirect.com", :target => "blank"}
      %h3 GiveAidDirect
      %img{:src => "/images/giveaiddirect.jpg"}
    %ul
      %li Voluntary Tech lead for person-to-person donation system
      %li Built app from scratch using Ruby of Rails; integrates with PayPal
      %li Leading design decisions & product direction
      %li Created initial design and liaising with designers for further designs
      %li Building & maintaining server & deployment system
  .project-pod
    %a{:href => "http://pushapage.com", :target => "blank"}
      %h3 Pushapage
      %img{:src => "/images/opensource.jpg"}
    %ul
      %li
        Open-source temporary bookmarking service using RoR and JS
      %li
        Integrates with Instapaper API
      %li
        = link_to "Pushapage", "http://pushapage.com"
        = " · "
        = link_to "Source", "https://github.com/tomcartwrightuk/pushapage"
